@import 'variables';
@import 'mixins';

h1, h2, h3, h4 {
    font-family: $redhat;
    font-weight: 900;
}

h5, h6 {
    font-family: $accent;
    font-weight: 500;
}

p, div, td, th, li, ul, ol {
    font-family: $main;
    font-weight: 500;

}
