@import 'variables';
@import 'mixins';

html, body,   {
    background-color: $ghost-white;
}

h1, h2, a.brand, a.navbar-brand {
    font-family: $redhat;
    font-weight: 900;
    ~a.brand {
        color: $dark-blue;
        text-decoration: none;
    }
}

h3, h4, h5, h6 {
    font-family: $accent;
    font-weight: 500;
    padding: $xs-pad;
    
}

p, div, td, th, li, ul, ol {
    font-family: $main;
    font-weight: 400;
    padding: $s-pad;
    line-height: $l-height;
}

