@import 'bootstrap';
// fonts:
$main:                              'Heebo', 'Barlow', Roboto, 'Helvetica Neue', Arial, Calibri, sans-serif !important !default;
$semi-condensed:                    'Barlow Semi Condensed', 'Roboto Condensed', 'Avenir Conddddensed', 'sans-serif' !important !default;
$condensed:                         'Barlow Condensed', 'Roboto', monospace !important !default;
$accent:                            'Quicksand', 'Poppins', handwriting !important !default;
$redhat:                            'Red Hat Display', sans-serif !important !default;

// Colors:
$light:                             #e7e8eb !default;
$dark-blue:                         #30313b !default;
$blue:                              #384156 !default;
$salmon:                            #ff596b !default;
$green:                             #758e47 !default;
$yellow:                            #febc2e !default;

/* SCSS HEX */
$oxford-blue:                       #11233bff !default;
$persian-blue:                      #0a345aff !default;
$black-coral:                       #495867ff !default;
$blue-yonder:                       #577399ff !default;
$star-command-blue:                 #0479b5ff !default;
$carolina-blue:                     #4fa3fbff !default;
$beau-blue:                         #bdd5eaff !default;
$ghost-white:                       #f7f7ffff !default;
$amaranth-purple:                   #b81253ff !default;
$olive-drab-3:                      #848f25ff !default;
$yellow-orange-color-wheel:         #f79100ff !default;

/* SCSS Gradient */
$gradient-top:                      linear-gradient(
                                        0deg,
                                        $oxford-blue,
                                        $black-coral,
                                        $blue-yonder,
                                        $star-command-blue,
                                        $beau-blue,
                                        $ghost-white,
                                        $amaranth-purple,
                                        $olive-drab-3,
                                        $yellow-orange-color-wheel
                                    );

$gradient-right:                    linear-gradient(
                                        90deg,
                                        $oxford-blue,
                                        $black-coral,
                                        $blue-yonder,
                                        $star-command-blue,
                                        $beau-blue,
                                        $ghost-white,
                                        $amaranth-purple,
                                        $olive-drab-3,
                                        $yellow-orange-color-wheel
                                    );


$gradient-bottom:                   linear-gradient(
                                        180deg,
                                        $oxford-blue,
                                        $black-coral,
                                        $blue-yonder,
                                        $star-command-blue,
                                        $beau-blue,
                                        $ghost-white,
                                        $amaranth-purple,
                                        $olive-drab-3,
                                        $yellow-orange-color-wheel
                                    );

$gradient-left:                     linear-gradient(
                                        270deg,
                                        $oxford-blue,
                                        $black-coral,
                                        $blue-yonder,
                                        $star-command-blue,
                                        $beau-blue,
                                        $ghost-white,
                                        $amaranth-purple,
                                        $olive-drab-3,
                                        $yellow-orange-color-wheel
                                    );


$gradient-top-right:                linear-gradient(
                                        45deg,
                                        $oxford-blue,
                                        $black-coral,
                                        $blue-yonder,
                                        $star-command-blue,
                                        $beau-blue,
                                        $ghost-white,
                                        $amaranth-purple,
                                        $olive-drab-3,
                                        $yellow-orange-color-wheel
                                    );

$gradient-bottom-right:             linear-gradient(
                                        135deg,
                                        $oxford-blue,
                                        $black-coral,
                                        $blue-yonder,
                                        $star-command-blue,
                                        $beau-blue,
                                        $ghost-white,
                                        $amaranth-purple,
                                        $olive-drab-3,
                                        $yellow-orange-color-wheel
                                    );

$gradient-top-left:                 linear-gradient(
                                        225deg,
                                        $oxford-blue,
                                        $black-coral,
                                        $blue-yonder,
                                        $star-command-blue,
                                        $beau-blue,
                                        $ghost-white,
                                        $amaranth-purple,
                                        $olive-drab-3,
                                        $yellow-orange-color-wheel
                                    );

$gradient-bottom-left:              linear-gradient(
                                        315deg,
                                        $oxford-blue,
                                        $black-coral,
                                        $blue-yonder,
                                        $star-command-blue,
                                        $beau-blue,
                                        $ghost-white,
                                        $amaranth-purple,
                                        $olive-drab-3,
                                        $yellow-orange-color-wheel
                                    );

$gradient-radial:                   radial-gradient(
                                        $oxford-blue,
                                        $black-coral,
                                        $blue-yonder,
                                        $star-command-blue,
                                        $beau-blue,
                                        $ghost-white,
                                        $amaranth-purple,
                                        $olive-drab-3,
                                        $yellow-orange-color-wheel
                                    );

// Navbar:
$nav-link-padding-y:                .5rem;
$nav-link-padding-x:                1rem;
$nav-link-font-size:                null;
$nav-link-font-weight:              null;
$nav-link-color:                    $link-color;
$nav-link-hover-color:              $link-hover-color;
$nav-link-transition:               color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
$nav-link-disabled-color:           $gray-600;
$nav-tabs-border-color:             $gray-300;
$nav-tabs-border-width:             $border-width;
$nav-tabs-border-radius:            $border-radius;
$nav-tabs-link-hover-border-color:  $gray-200 $gray-200 $nav-tabs-border-color;
$nav-tabs-link-active-color:        $gray-700;
$nav-tabs-link-active-bg:           $body-bg;
$nav-tabs-link-active-border-color: $gray-300 $gray-300 $nav-tabs-link-active-bg;
$nav-pills-border-radius:           $border-radius;
$nav-pills-link-active-color:       $component-active-color;
$nav-pills-link-active-bg:          $component-active-bg;

/* Line-Height */
$xs-height:                         1rem;
$s-height:                          1.2rem;
$m-height:                          1.5rem;
$l-height:                          1.8rem;
$xl-height:                         2rem;
/* Padding  */
$xs-pad:                            0.75rem;
$s-pad:                             1rem;
$m-pad:                             1.5rem;
$l-pad:                             2rem;
$xl-pad:                            2.5rem;
