<!-- SIDE-NAVBAR -->
<nav class="navbar navbar-light bg-light text-dark">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/contacts']">
            <img [src]="iconLogo100" class="sm-logo img-fluid" alt="kontax logo">
        </a>
        <a class="brand" [routerLink]="['/']">
            <img [src]="kontaxWireFont" alt="kontax.me alt logo">
        </a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end"
             tabindex="-1"
             id="offcanvasNavbar"
             [ngClass]="bgColor">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                    <a class="navbar-brand" [routerLink]="['/contacts']">
                        <img [src]="iconLogo100" class="img-fluid" alt="kontax logo">
                    </a>
                </h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close">
                </button>
            </div>
            <div class="offcanvas-body">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-dark" type="submit">Search</button>
                </form>
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active"
                           aria-current="page"
                           href="#">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/contacts']">Contacts</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><a class="dropdown-item" href="#">Log Out</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item"
                                   href="#">Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
